---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Achievements from '@/components/Achievements.astro';
import Highlights from '@/components/Highlights.astro';
import Opex from '@/components/Opex.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="mb-0 md:mb-10">
		<HeroSection />
	</div>
	<div class="px-8 py-10 md:px-6 md:py-10 lg:p-20  2xl:px-96 3xl:px-[40rem]" id='achievements'>
		<Achievements />
	</div>
	 <div class=" bg-gray-900 font-sans text-gray-100 px-8 py-10 md:px-6 md:py-10 lg:p-20  2xl:px-96 3xl:px-[40rem]" id="highlights">
		<Highlights />
	</div>
	<div class="px-8 py-10 md:px-6 md:py-10 xl:p-20 2xl:px-96 3xl:px-[40rem]" id='opex'>
		<Opex />
	</div>
</Layout>
